<div class="container-fluid">
    <div class="row">
        <div class="col-4 todo">
            <mat-card>
                <h4 mat-card-title>Todo</h4>

                <ul>
                    <li *ngFor="let task of todo">
                        <pms-task [task]="task"></pms-task>
                    </li>
                </ul>
            </mat-card>
        </div>
        <div class="col-4 in-progress">
            <mat-card>
                <h4 mat-card-title>In Progress</h4>

                <ul>
                    <li *ngFor="let task of inProgress">
                        <pms-task [task]="task"></pms-task>
                    </li>
                </ul>
            </mat-card>
        </div>
        <div class="col-4 done">
            <mat-card>
                <h4 mat-card-title>Done</h4>

                <ul>
                    <li *ngFor="let task of done">
                        <pms-task [task]="task"></pms-task>
                    </li>
                </ul>
            </mat-card>
        </div>
    </div>
</div>
