<div class="container">
    <div class="row">
        <div class="col-md-4 project-card" *ngFor="let project of projects">
            <div class="mat-elevation-z4">
                <div class="title">
                    <a [routerLink]="['/', 'project', project.id]">
                        <h2>
                            {{ project.name }}
                        </h2>
                    </a>
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" [overlapTrigger]="false">
                        <a [routerLink]="['/', 'project', project.id]"
                           mat-menu-item>
                            <mat-icon>list</mat-icon>
                            <span>Tasks list</span>
                        </a>
                        <a [routerLink]="['/', 'project', project.id, 'update']"
                           mat-menu-item
                           *ngIf="project.userRole === 'ADMIN'">
                            <mat-icon>edit</mat-icon>
                            <span>Edit</span>
                        </a>
                        <button mat-menu-item
                                (click)="removeProject(project)"
                                *ngIf="project.userRole === 'ADMIN'">
                            <mat-icon>delete</mat-icon>
                            <span>Delete</span>
                        </button>
                    </mat-menu>
                </div>
                <mat-list>
                    <mat-list-item>
                        <mat-icon mat-list-icon>calendar_today</mat-icon>
                        <h4 mat-line>Start date: {{project.startDate | date: 'shortDate' }}</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>calendar_today</mat-icon>
                        <h4 mat-line>End date: {{ project.endDate | date: 'shortDate' }}</h4>
                    </mat-list-item>
                    <mat-list-item>
                        <mat-icon mat-list-icon>perm_identity</mat-icon>
                        <h4 mat-line>Your role: {{ project.userRole }}</h4>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>

    <a mat-icon-button
       [routerLink]="['/', 'project', 'create']"
       [matTooltip]="'Add new project'"
       class="add-project mat-elevation-z3">
        <mat-icon>add</mat-icon>
    </a>
</div>
