<ActionBar title="Project list">
    <NavigationButton android.systemIcon="ic_menu_back" text="logout" (tap)="logout()"></NavigationButton>
</ActionBar>

<StackLayout orientation="vertical">
    <Button class="btn btn-primary" [nsRouterLink]="['/project', 'create']" [text]="'Create project'"></Button>

    <ListView [items]="projects" (itemTap)="onItemTap($event)" class="list-group">
        <ng-template let-project="item" let-i="index" let-odd="odd" let-even="even">
            <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
            <FlexboxLayout [ngClass]="{'even': even}">
                <StackLayout orientation="vertical" class="list-group-item"
                             (onTap)="onItemTap(i)">
                    <Label [text]="project.name"></Label>
                </StackLayout>
                <Button class="button-con action-button"
                        [nsRouterLink]="['/project', project.id, 'update']">
                    <FormattedString>
                        <Span [text]="editIcon" class="con"></Span>
                    </FormattedString>
                </Button>
            </FlexboxLayout>
        </ng-template>
    </ListView>

</StackLayout>
