<ActionBar title="Project list"></ActionBar>

<ListView [items]="projects" (itemTap)="onItemTap($event)" class="list-group">
    <ng-template let-project="item" let-i="index" let-odd="odd" let-even="even">
        <!-- The item template can only have a single root view container (e.g. GridLayout, StackLayout, etc.)-->
        <StackLayout orientation="horizontal" class="list-group-item" [ngClass]="{'even': even}">
            <Label text="Project: " textWrap="true"></Label>
            <Label [text]="project.name"></Label>
        </StackLayout>
    </ng-template>
</ListView>
