/* Add mobile styles for the component here.  */
.login-container {
  justify-content: center;
  align-items: center;
  background-color: #1abc9c;
}

.form {
  width: 300;
  padding: 10 16;
  background-color: #f0f0f0;
}

Image {
  margin-bottom: 20;
  height: 70;
}

Button, TextField {
  margin-top: 10;
  margin-bottom: 5;
}

.btn-primary {
  background-color: #FF9700;
  margin-left: 0;
  margin-right: 0;
}

TextField {
  placeholder-color: #a89498;
  color: black;
}

.header {
  justify-content: center;
  align-items: center;
  margin-bottom: 10;
}