<section class="auth">
    <mat-card class="card">
        <mat-card-header class="header">
            <mat-card-title class="application-name">
                <h1>Project management system</h1>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content class="content">
            <form #loginForm="ngForm"
                  (ngSubmit)="submit()">
                <div class="form-group">
                    <mat-form-field>
                        <input matInput
                               [placeholder]="'E-mail address'"
                               [(ngModel)]="credentials.email"
                               name="email"
                               #email="ngModel"
                               email
                               required>
                        <mat-error>
                            <pms-validation-messages [model]="email"></pms-validation-messages>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <input matInput
                               [type]="hidePassword ? 'password' : 'text'"
                               [placeholder]="'Password'"
                               [(ngModel)]="credentials.password"
                               name="password"
                               #password="ngModel"
                               required>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                            {{ hidePassword ? 'visibility' : 'visibility_off' }}
                        </mat-icon>
                        <mat-error>
                            <pms-validation-messages [model]="password"></pms-validation-messages>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="login-controls">
                    <button mat-raised-button
                            color="accent"
                            class="login--button"
                            type="submit">
                        {{ 'Login' }}
                    </button>
                </div>
            </form>

        </mat-card-content>

    </mat-card>
</section>


