/* You can add global styles to this file, and also import other style files */

// Import common styles
@import 'app-common';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font-family: 'Roboto, monospace', 'sans-serif';
  display: flex;
}

* {
  box-sizing: border-box;
}

//additional reset
:focus {
  outline: none;
}

button {
  padding: 0;
  cursor: pointer;
  text-transform: uppercase;
}

@import "assets/pms-styles";
