<mat-toolbar color="primary" class="mat-elevation-z4">
    <mat-toolbar-row>
        <span><a [routerLink]="['/', 'project']">PMS</a></span>
        <span class="example-spacer"></span>
        <span>{{ user?.fullName }}</span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>settings</mat-icon>
        </button>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="logout()">
                <mat-icon>vpn_key</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
